:root,
[data-bs-theme="light"] {
  --body-color: #f6f8fa;
  --text-color: #000;
  --navbar-color: #fff;
  --navbar-animation-color: #0e0075;
  --site-logo-color: #000;
  --site-logo-hover-color: #152de3;
  --horizontal-line: #000;
  --tooltip-body-text-color: #fff;
}

[data-bs-theme="dark"] {
  --body-color: #000;
  --text-color: #fff;
  --navbar-color: #000;
  --navbar-animation-color: #fff;
  --site-logo-color: #152de3;
  --site-logo-hover-color: #fff;
  --horizontal-line: #fff;
  --tooltip-body-text-color: #000;
}
