@font-face {
    font-family: 'Cinecav X Type';
    src:
    url(../fonts/CinecavXType-Regular.ttf) format("truetype"),
    url(../fonts/CinecavXType-Regular.woff) format("woff"),
    url(../fonts/CinecavXType-Regular.woff2) format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: 'Contour Generator';
    src:
    url(../fonts/Contour-Generator.ttf) format("truetype"),
    url(../fonts/Contour-Generator.woff) format("woff"),
    url(../fonts/Contour-Generator.woff2) format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: 'LED Counter 7';
    src:
    url(../fonts/LED-Counter-7.ttf) format("truetype"),
    url(../fonts/LED-Counter-7.woff) format("woff"),
    url(../fonts/LED-Counter-7.woff2) format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: 'LED Counter 7 Italics';
    src:
    url(../fonts/LED-Counter-7_italics.ttf) format("truetype"),
    url(../fonts/LED-Counter-7_italics.woff) format("woff"),
    url(../fonts/LED-Counter-7_italics.woff2) format("woff2");
    font-style: italic;
}

@font-face {
    font-family: 'Tiny and Chunky';
    src:
    url(../fonts/TinyAndChunkyRegular.ttf) format("truetype"),
    url(../fonts/TinyAndChunkyRegular.woff) format("woff"),
    url(../fonts/TinyAndChunkyRegular.woff2) format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: 'TU 1000x Regular';
    src:
    url(../fonts/tu-1000x-normal.ttf) format("truetype"),
    url(../fonts/tu-1000x-normal.woff) format("woff"),
    url(../fonts/tu-1000x-normal.woff2) format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: 'TU 1000x Regular Modified';
    src:
    url(../fonts/TU-1000XNormal-Modified.ttf) format("truetype"),
    url(../fonts/TU-1000XNormal-Modified.woff) format("woff"),
    url(../fonts/TU-1000XNormal-Modified.woff2) format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: 'TU 1000x Bold';
    src:
    url(../fonts/tu-1000x-bold.ttf) format("truetype"),
    url(../fonts/tu-1000x-bold.woff) format("woff"),
    url(../fonts/tu-1000x-bold.woff2) format("woff2");
    font-weight: bold;
}