@media only screen and (min-width: 1400px) {
    /* LOGOS */
    .abc-plus-logo {
        width: 25% !important;
    }

    .datavizion-logo {
        width: 80% !important;
    }

    .electra-logo {
        width: 80% !important;
    }

    .cbs-extravision-logo {
        width: 80% !important;
    }

    .iptv-logo {
        width: 75% !important;
    }

    .keyfax-logo {
        width: 70% !important;
    }

    .nbc-teletext-logo {
        width: 65% !important;
    }

    .penntext-logo {
        width: 55% !important;
    }

    .sss-teletext-logo {
        width: 30% !important;
    }

    #kmtv-logo {
        width: 50%;
    }

    #ktsp-logo {
        width: 50%;
    }

    #whas-logo {
        width: 50%;
    }

    #wkyc-logo {
        width: 75%;
    }

    #wkyt-logo {
        width: 75%;
    }

    #wrc-logo {
        width: 72%;
    }

    #kold-logo {
        width: 45%;
    }

    #koln-logo {
        width: 75%;
    }

    #wdbj-logo {
        width: 55%;
    }

    #wjbk-logo {
        width: 80%;
    }

    #wjw-logo {
        width: 80%;
    }

    #wmar-logo {
        width: 48%;
    }

    #wtcn-logo {
        width: 65%;
    }

    .additions-table-logo-row {
        height: 60px !important;
    }

    .station-logo-row {
        height: 87.45px !important;
    }

    #omitted-teletext-table-container {
        max-height: 389px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    /* LOGOS */
    .abc-plus-logo {
        width: 25% !important;
    }

    .datavizion-logo {
        width: 80% !important;
    }

    .electra-logo {
        width: 80% !important;
    }

    .cbs-extravision-logo {
        width: 80% !important;
    }

    .iptv-logo {
        width: 75% !important;
    }

    .keyfax-logo {
        width: 70% !important;
    }

    .nbc-teletext-logo {
        width: 65% !important;
    }

    .penntext-logo {
        width: 55% !important;
    }

    .sss-teletext-logo {
        width: 30% !important;
    }

    #kmtv-logo {
        width: 50%;
    }

    #ktsp-logo {
        width: 50%;
    }

    #whas-logo {
        width: 50%;
    }

    #wkyc-logo {
        width: 75%;
    }

    #wkyt-logo {
        width: 75%;
    }

    #wrc-logo {
        width: 72%;
    }

    #kold-logo {
        width: 57%;
    }

    #koln-logo {
        width: 60%;
    }

    #wdbj-logo {
        width: 55%;
    }

    #wjbk-logo {
        width: 80%;
    }

    #wjw-logo {
        width: 80%;
    }

    #wmar-logo {
        width: 48%;
    }

    #wtcn-logo {
        width: 65%;
    }

    .additions-table-logo-row {
        height: 60px !important;
    }

    .station-logo-row {
        height: 87.45px !important;
    }

    #omitted-teletext-table-container {
        max-height: 394px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* LOGOS */
    .abc-plus-logo {
        width: 35% !important;
    }

    .datavizion-logo {
        width: 85% !important;
    }

    .electra-logo {
        width: 85% !important;
    }

    .cbs-extravision-logo {
        width: 85% !important;
    }

    .iptv-logo {
        width: 80% !important;
    }

    .keyfax-logo {
        width: 75% !important;
    }

    .nbc-teletext-logo {
        width: 75% !important;
    }

    .penntext-logo {
        width: 65% !important;
    }

    .sss-teletext-logo {
        width: 40% !important;
    }

    #kmtv-logo {
        width: 35%;
    }

    #ktsp-logo {
        width: 35%;
    }

    #whas-logo {
        width: 40%;
    }

    #wkyc-logo {
        width: 55%;
    }

    #wkyt-logo {
        width: 62%;
    }

    #wrc-logo {
        width: 55%;
    }

    #kold-logo {
        width: 32%;
    }

    #koln-logo {
        width: 60%;
    }

    #wdbj-logo {
        width: 40%;
    }

    #wjbk-logo {
        width: 60%;
    }

    #wjw-logo {
        width: 65%;
    }

    #wmar-logo {
        width: 34%;
    }

    #wtcn-logo {
        width: 40%;
    }

    .additions-table-logo-row {
        height: 60px !important;
    }

    .station-logo-row {
        height: 92.2167px !important;
    }

    #omitted-teletext-table-container {
        max-height: 409px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* LOGOS */
    .abc-plus-logo {
        width: 25% !important;
    }

    .datavizion-logo {
        width: 80% !important;
    }

    .electra-logo {
        width: 80% !important;
    }

    .cbs-extravision-logo {
        width: 85% !important;
    }

    .iptv-logo {
        width: 75% !important;
    }

    .keyfax-logo {
        width: 75% !important;
    }

    .nbc-teletext-logo {
        width: 75% !important;
    }

    .penntext-logo {
        width: 55% !important;
    }

    .sss-teletext-logo {
        width: 30% !important;
    }

    #kmtv-logo {
        width: 40%;
    }

    #ktsp-logo {
        width: 40%;
    }

    #whas-logo {
        width: 45%;
    }

    #wkyc-logo {
        width: 65%;
    }

    #wkyt-logo {
        width: 70%;
    }

    #wrc-logo {
        width: 60%;
    }

    #kold-logo {
        width: 45%;
    }

    #koln-logo {
        width: 65%;
    }

    #wdbj-logo {
        width: 45%;
    }

    #wjbk-logo {
        width: 65%;
    }

    #wjw-logo {
        width: 70%;
    }

    #wmar-logo {
        width: 40%;
    }

    #wtcn-logo {
        width: 45%;
    }

    .additions-table-logo-row {
        height: 60px !important;
    }

    .station-logo-row {
        height: 92.2167px !important;
    }

    #omitted-teletext-table-container {
        max-height: 409px;
    }
}

@media only screen and (max-width: 767px) {
    /* LOGOS */
    .abc-plus-logo {
        width: 25% !important;
    }

    .datavizion-logo {
        width: 80% !important;
    }

    .electra-logo {
        width: 80% !important;
    }

    .cbs-extravision-logo {
        width: 85% !important;
    }

    .iptv-logo {
        width: 75% !important;
    }

    .keyfax-logo {
        width: 75% !important;
    }

    .nbc-teletext-logo {
        width: 75% !important;
    }

    .penntext-logo {
        width: 55% !important;
    }

    .sss-teletext-logo {
        width: 40% !important;
    }

    #kmtv-logo {
        width: 50%;
    }

    #ktsp-logo {
        width: 45%;
    }

    #whas-logo {
        width: 55%;
    }

    #wkyc-logo {
        width: 75%;
    }

    #wkyt-logo {
        width: 80%;
    }

    #wrc-logo {
        width: 70%;
    }

    #kold-logo {
        width: 55%;
    }

    #koln-logo {
        width: 75%;
    }

    #wdbj-logo {
        width: 55%;
    }

    #wjbk-logo {
        width: 75%;
    }

    #wjw-logo {
        width: 80%;
    }

    #wmar-logo {
        width: 50%;
    }

    #wtcn-logo {
        width: 55%;
    }

    .additions-table-logo-row {
        height: 65px !important;
    }

    .station-logo-row {
        height: 92.2167px !important;
    }

    #omitted-teletext-table-container {
        max-height: 409px;
    }
}