/* * NAVIGATION MENU MEDIA QUERIES * */

@media only screen and (min-width: 1113px) {
  #navbarNav .nav-item .nav-link {
    margin: 0 10px;
  }
}

@media only screen and (min-width: 1670px) {
  .navbar-nav {
    margin-left: 55%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1669px) {
  .navbar-nav {
    margin-left: 50%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1613px) {
  .navbar-nav {
    margin-left: 50%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1516px) {
  .navbar-nav {
    margin-left: 45%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1429px) {
  .navbar-nav {
    margin-left: 40%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1355px) {
  .navbar-nav {
    margin-left: 35%;
    font-size: 20px;
  }
}

/* STOPPING POINT */
@media only screen and (min-width: 1235px) and (max-width: 1291px) {
  .navbar-nav {
    margin-left: 35%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1234px) {
  .navbar-nav {
    margin-left: 30%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1184px) {
  .navbar-nav {
    margin-left: 25%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1138px) {
  .navbar-nav {
    margin-left: 25%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1112px) {
  .navbar-nav {
    margin-left: 30%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1074px) {
  .navbar-nav {
    margin-left: 30%;
    font-size: 18px;
  }
}

@media only screen and (max-width: 1047px) {
  .navbar-nav {
    margin-left: 25%;
    font-size: 18px;
  }
}

@media only screen and (max-width: 1018px) {
  .navbar-nav {
    margin-left: 22%;
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-nav {
    margin-left: 0% !important;
  }
}

/* * QUERY FOR LARGE AND EXTRA LARGE DEVICES * */

/* @media only screen and (max-width: 1199px) {

} */

@media only screen and (min-width: 1400px) {
  #site-title {
    font-size: 5em;
  }

  .mobile-link {
    display: none;
  }

  .site-introduction {
    font-size: 1.4em;
  }

  .footer-logo {
    width: 30%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  #site-title {
    font-size: 4.4em;
  }

  .mobile-link {
    display: none;
  }

  .site-introduction {
    font-size: 1.2em;
  }

  .footer-logo {
    width: 35%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #site-title {
    font-size: 4em;
  }

  .mobile-link {
    display: none;
  }

  .site-introduction {
    font-size: 1.2em;
  }

  .footer-logo {
    width: 40%;
  }
}

/* * QUERY FOR MEDIUM DEVICES * */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile-container {
    display: inline-flex;
    justify-content: end;
  }

  #site-title {
    font-size: 3.5em;
  }

  #navbarNav .nav-item .nav-link {
    color: #000;
    margin-top: 10px;
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
  }

  #navbarNav .nav-item .nav-link:hover {
    color: #000000;
  }

  .site-introduction {
    font-size: 1.6em;
  }

  .footer-logo {
    width: 45%;
  }

  .desktop-link a {
    display: none;
  }

  .mobile-link a {
    display: block;
  }
}

/* * QUERY FOR EXTRA SMALL AND SMALL DEVICES * */
@media only screen and (min-width: 500px) and (max-width: 767px) {
  #site-title {
    font-size: 2.8em;
  }

  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
    text-align: center;
  }

  .site-introduction {
    font-size: 1em;
  }

  .footer-logo {
    width: 50%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 499px) {
  #site-title {
    /* font-size: 2em; */
    font-size: 2.5em;
  }

  #footer-site-links {
    font-size: 0.8em;
  }

  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
    text-align: center;
  }

  .site-introduction {
    font-size: 0.8em;
  }

  .footer-logo {
    width: 55%;
  }

  svg {
    height: 60px;
    margin-left: -5px;
  }
}

@media only screen and (max-width: 399px) {
  #site-title {
    font-size: 2.5em;
  }

  #footer-site-links {
    font-size: 0.8em;
  }

  .navbar {
    padding-top: 100px;
  }

  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
    text-align: center;
  }

  .site-introduction {
    font-size: 0.8em;
  }

  .footer-logo {
    width: 55%;
  }

  svg {
    height: 40px;
    margin-left: -5px;
  }
}
