/* * NAVIGATION MENU MEDIA QUERIES * */

@media only screen and (min-width: 1113px) {
  #navbarNav .nav-item .nav-link {
    margin: 0 10px;
  }
}

@media only screen and (min-width: 1670px) {
  .navbar-nav {
    margin-left: 24%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1669px) {
  .navbar-nav {
    margin-left: 20%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1613px) {
  .navbar-nav {
    margin-left: 14%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1516px) {
  .navbar-nav {
    margin-left: 8%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1429px) {
  .navbar-nav {
    margin-left: 2%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1355px) {
  .navbar-nav {
    margin-left: 2%;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1235px) and (max-width: 1291px) {
  .navbar-nav {
    margin-left: 0%;
    font-size: 17px;
  }
}

@media only screen and (max-width: 1234px) {
  .navbar-nav {
    margin-left: 0%;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1184px) {
  .navbar-nav {
    margin-left: -6%;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1138px) {
  .navbar-nav {
    margin-left: 0%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1112px) {
  .navbar-nav {
    margin-left: 10%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1074px) {
  .navbar-nav {
    margin-left: 8%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1047px) {
  .navbar-nav {
    margin-left: 4%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1018px) {
  .navbar-nav {
    margin-left: 0%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-nav {
    margin-left: 0% !important;
  }
}

/* * QUERY FOR LARGE AND EXTRA LARGE DEVICES * */

/* @media only screen and (max-width: 1199px) {

} */

@media only screen and (min-width: 1400px) {
  #welcome-text {
    font-size: 2.2em;
  }

  #site-title {
    font-size: 5em;
  }

  #submission-page-alert-text {
    font-size: 1.5em;
  }

  #encoded-extravision-image {
    width: 30%;
    float: right;
    margin-left: 1rem;
  }

  #electra-1995 {
    width: 30%;
  }

  .submission-count-table {
    font-size: 2em !important;
  }

  .medium-plus-top-padding {
    padding-top: 40px;
  }

  .all-records .thumbnail-column {
    width: 100px !important;
  }

  .all-records .thumbnail-column img {
    width: 85px !important;
  }

  .mobile-link {
    display: none;
  }

  .site-introduction {
    font-size: 1.4em;
  }

  .footer-logo {
    width: 30%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  #welcome-text {
    font-size: 2em;
  }

  #site-title {
    font-size: 4.4em;
  }

  #submission-page-alert-text {
    font-size: 1.5em;
  }

  #encoded-extravision-image {
    width: 30%;
    float: right;
    margin-left: 1rem;
  }

  #electra-1995 {
    width: 30%;
  }

  .submission-count-table {
    font-size: 2em !important;
  }

  .medium-plus-top-padding {
    padding-top: 40px;
  }

  .mobile-link {
    display: none;
  }

  .site-introduction {
    font-size: 1.2em;
  }

  .footer-logo {
    width: 35%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #welcome-text {
    font-size: 2em;
  }

  #site-title {
    font-size: 4em;
  }

  #submission-page-alert-text {
    font-size: 1.3em;
  }

  #encoded-extravision-image {
    width: 30%;
    float: right;
    margin-left: 1rem;
  }

  #electra-1995 {
    width: 30%;
  }

  .submission-count-table {
    font-size: 2em !important;
  }

  .medium-plus-top-padding {
    padding-top: 40px;
  }

  .mobile-link {
    display: none;
  }

  .site-introduction {
    font-size: 1.2em;
  }

  .footer-logo {
    width: 40%;
  }
}

/* * QUERY FOR MEDIUM DEVICES * */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #welcome-text {
    font-size: 1.8em;
  }

  #site-title {
    font-size: 3.5em;
  }

  #navbarNav .nav-item .nav-link {
    color: var(--text-color);
    margin-top: 10px;
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
  }

  #navbarNav .nav-item .nav-link:hover {
    color: #000000;
  }

  #submission-page-alert-text {
    font-size: 1.2em;
  }

  #encoded-extravision-image {
    max-width: 100%;
  }

  #electra-1995 {
    width: 30%;
  }

  .submission-count-table {
    font-size: 1.6em !important;
  }

  .medium-plus-top-padding {
    padding-top: 40px;
  }

  .site-introduction {
    font-size: 1.6em;
  }

  .footer-logo {
    width: 45%;
  }

  .desktop-link a {
    display: none;
  }

  .mobile-link a {
    display: block;
  }
}

/* * QUERY FOR EXTRA SMALL AND SMALL DEVICES * */
@media only screen and (min-width: 500px) and (max-width: 767px) {
  #welcome-text {
    font-size: 1.4em;
  }

  #site-title {
    font-size: 2.8em;
  }

  #submission-page-alert-text {
    font-size: 1.1em;
  }

  #encoded-extravision-image {
    max-width: 100%;
  }

  #electra-1995 {
    width: 60%;
  }

  .submission-count-table {
    font-size: 1.2em !important;
  }

  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
    text-align: center;
  }

  .mobile-bottom-padding {
    padding-bottom: 30px !important;
  }

  .mobile-top-padding {
    padding-top: 30px !important;
  }

  .site-introduction {
    font-size: 1em;
  }

  .footer-logo {
    width: 50%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 499px) {
  #welcome-text {
    font-size: 1.2em;
  }

  #site-title {
    font-size: 2.5em;
  }

  #submission-page-alert-text {
    font-size: 1em;
  }

  #footer-site-links {
    font-size: 0.8em;
  }

  #encoded-extravision-image {
    max-width: 100%;
  }

  #electra-1995 {
    width: 70%;
  }

  .submission-count-table {
    font-size: 1em !important;
  }

  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
    text-align: center;
  }

  .site-introduction {
    font-size: 0.8em;
  }

  .footer-logo {
    width: 55%;
  }

  svg {
    height: 60px;
    margin-left: -5px;
  }
}

@media only screen and (max-width: 399px) {
  #welcome-text {
    font-size: 0.8em;
  }

  #site-title {
    font-size: 2.5em;
  }

  #submission-page-alert-text {
    font-size: 1em;
  }

  #footer-site-links {
    font-size: 0.8em;
  }

  #encoded-extravision-image {
    max-width: 100%;
  }

  #electra-1995 {
    width: 80%;
  }

  .navbar {
    padding-top: 100px;
  }

  .submission-count-table {
    font-size: 0.8em !important;
  }

  .desktop-link {
    display: none;
  }

  .mobile-link {
    display: block;
    text-align: center;
  }

  .site-introduction {
    font-size: 0.8em;
  }

  .footer-logo {
    width: 55%;
  }

  svg {
    height: 40px;
    margin-left: -5px;
  }
}
