@import "fonts.css";

body {
  background-color: var(--body-color) !important;
}

h1 {
  margin: 0;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6,
p,
span:not(#site-title),
li,
label,
dt,
dd,
li,
select {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color) !important;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// th,
// strong {
//   font-family: "Open Sans", sans-serif;
//   font-weight: bold;
// }

.site-logo {
  fill: var(--site-logo-color)
}

.site-logo:hover {
  .cls-1 {
    tspan {
      fill: var(--site-logo-hover-color);
    }
  }
}


.navbar {
  background-color: var(--navbar-color);
  border-bottom: 4px solid #152de3;

  .navbar-nav {
    .nav-item {
      .nav-link {
        font-family: "Open Sans", sans-serif !important;
        // color: #000;
        color: var(--text-color);
      }
    }
  }
}

hr {
  // border-bottom: 2px solid #000;
  border: 1px solid var(--horizontal-line) !important;
}

.navbar-brand,
.external-link {
  text-decoration: none;
}

.site-logo {
  padding-left: 20px;
  width: 80%;
}


#navBar {
  .navbar-nav {
    .nav-item {
      .nav-link {
        margin-left: 20%;
        font-size: 20px;
      }
    }
  }
}

#navbarNav {
  .nav-item {
    .nav-link {
      &:hover {
        color: #152de3 !important;
      }
    }
  }
}

.navbar-toggler {
  background-color: var(--bs-body-color);
}


.result-heading {
  padding-top: 10px;
}

.dark-mode-image {
  display: none;
}

[data-bs-theme="dark"] .light-mode-image {
  display: none;
}

[data-bs-theme="dark"] .dark-mode-image {
  display: inline-block;
}


.end-footer {
  // background: linear-gradient(to bottom, #008a8f, #000);
  background: #152de3;
  padding: 20px;
  color: #fff;

  #footer-site-links {
    border-bottom: 1px solid #fff;

    p {
      font-size: 1.2em;
      color: #fff !important;
    }
  }
}
