test.html
penntext.html
penntext-results.html
starsight-data.html
starsight.html
starsight.js
package-lock.json
package.json
StarSight.png
StarSight_light.png
starsight.css.map
starsight.css
starsight.scss
json/
depreciated/
node_modules/
TODO/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
